* {
    box-sizing: border-box;
    user-select: none;
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #222;
}
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #ddd;
    overflow: hidden;
}
.display {
    width: 100%;
    height: 100px;
    white-space: nowrap;
    background-color: #eee;
    color: #333;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
}
.text {
    font-size: 100%;
    font-size: 70px;
    display: flex;
    align-items: center;
    height: 100px;
}
.buttons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    flex-wrap: wrap;
    padding: 2px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    color: #222;
    background-color: #ddd;
    cursor: pointer;
}
.btn {
    width: calc(25% - 4px);
    height: calc(16.6666% - 4px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.btn:hover {
    background-color: #ccc;
}
